<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="DatabaseEntities" connectionString="metadata=res://*/DataAccess.BackofficeModel.csdl|res://*/DataAccess.BackofficeModel.ssdl|res://*/DataAccess.BackofficeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=mobilehealth;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /><add name="BackofficeEntities" connectionString="metadata=res://*/DataAccess.BackofficeModel.csdl|res://*/DataAccess.BackofficeModel.ssdl|res://*/DataAccess.BackofficeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=mobilehealth;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>